<div class="container" style="width: 800px; height: auto;">
  <%= image_tag @article.image_url, style: "width:100%" if @article.image %>
</div><br>
<h1><%= @article.title %></h1>
<br>
<%= @article.body %>
<%= @article.content %>
